

<!DOCTYPE html>
<html>
  <head>
     <!--
      JavaScript 6th Edition
      Chapter 10
      Hands-on Project 10-5

      Author: 
      Date:   

      Filename: index.htm
   -->
    <title>INFO 301 - Hands On Project 10-5</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   <header>
      <h1>
         Hands-on Project 10-3
      </h1>
   </header>

   <article>
      <div id="cities">
         <div id="beijing">Beijing</div>
         <div id="paris">Paris</div>
         <div id="rio">Rio de Janeiro</div>
      </div>
      <div id="caption">
         Your location
      </div>
      <div id="map"></div>
   </article>
   <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
   <script src="script.js"></script>
</body>
</html>
